.custom-button {
    font-family: Open sans Condensed;
    min-width: 165px;
    width: auto;
    height: 50px;
    color: #fff;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: #000;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;

    &:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
    }

    &.google-sign-in {
        background-color: #4285f4;
        color: #fff;

        &:hover {
            background-color: #357ae8;
            border: none;
        }
    }

    &.inverted {
        background-color: #fff;
        color: #000;
        border: 1px solid #000;

        &.hover {
            background-color: #fff;
            color: white;
            border: none;
        }
    }
    
    &.partner-button {
        border-radius: 5rem;
        color: white;
        border: none;
        background-color: #059f82;
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.03);
        }
    }

    &.registerBtn {
        margin-top: 1rem;
        border: none;
        border-radius: 6px;
        background: #059f82;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 600;
        cursor: pointer;
        transition: background 0.3s ease, transform 0.2s ease;

        &:hover {
            background: #047e66;
            transform: translateY(-2px);
        }
    }
}