.collection-page {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-self: center;

    .title{
        font-size: 38px;
        text-align: center;
    }

    .items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 10px;
        place-items: center;
    }


    @media (max-width: 768px) {
        & {
            width: 100%;
            padding: 0px 10px;
        }

        .items {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (max-width: 426px) {
        .items {
            grid-template-columns: 1fr;
        }
    }
}