// .menu-item {
//     min-width: 30%;
//     border: 1px solid black;
//     height: 320px;
//     flex: 1 1 auto;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin: 0.7px 15px;
//     overflow: hidden;

//     &:first-child {
//         margin-right: 7.5px;
//     }

//     &:last-child {
//         margin-left: 7.5px; 
//     }

//     &.large {
//         height: 500px;
//     }

//     .background-image {
//         width: 100%;
//         height: 100%;
//         background-position: center;
//         background-size: cover;
//     }

//     &:hover {
//         cursor: pointer;

//         & .background-image {
//             transform: scale(1.1);
//             transition: transform 5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
//         }

//         & .content {
//             opacity: 0.9;
//         }
//     }

//     .content {
//         position: absolute;
//         height: 90px;
//         padding: 0 25px; 
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         opacity: 0.7;
//         background-color: #fff;
//         border: 1px solid black;

//         .title {
//             font-weight: bold;
//             margin-bottom: 6px;
//             font-size: 22px;
//             color: #4a4a4a;
//         }

//         .subtitle {
//             font-weight: lighter;
//             font-size: 16px;
//         }
//     }
// }







.menu-item {
    width: 100%;
    height: 230px;
    display: flex;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;

    .background-image {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-position: center;
        background-size: cover;
        transition: transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    &:hover {
        cursor: pointer;
        border-radius: 10px;

        & .background-image {
            transform: scale(1.1);
        }

        & .content {
            opacity: 0.9;
        }
    }

    .content {
        width: 100%;
        display: flex;
        gap: 0.3rem;
        padding:  2px;
        flex-direction: column;
        background-color: #fff;


        .store-name {
            display: flex;
            place-items: center;
            justify-content: space-between;

            .title {
                font-weight: bolder;
                color: #000;
            }

            .title-name {
                font-weight: bold;
                font-size: x-small;
                color: #6e6e6e;
                padding: 3px;
                border-radius: 5px;
                background-color: #f5f5f5;
            }
        }

        .price {
            display: flex;
            gap: 0.4rem;
            font-size: 0.9em;
            align-items: center;
        }

        .dot {
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background: #000;
        }
    }

    @media (max-width: 1024px) {
        & {
            width: 48%;
        }
    }

    @media (max-width: 768px) {
        & {
            width: 100%;
        }
    }

    @media (max-width: 1444px) {
        & {
            width: 100%;
        }
    }

    @media (min-width: 2560px) {
        & {
            width: 100%;
            height: 300px;
        }

        .title
        .price
        .title-name {
            font-size: xx-large;
        }
    }
}